pre{
    background-color: rgb(165, 165, 165);
}

/*google fontのimport*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.code {
    margin-left: 0;
    position: relative;
    box-sizing: border-box;
    vertical-align: 0;
    font-weight: 700;
    background-color: rgb(177, 177, 177);
    border: 1px rgb(165, 165, 165) solid;
    padding: 10px;

    font-family: 'Roboto Mono', monospace;
}

